
.resistor-wrapper{
    width : 100% !important;
    height: 100% !important;
}
.resistor-w-l, .resistor-w-r{
    display: flex;
    height: 2.5vh;
    width: 5%;
    background-color: gray;
    border: 1px solid black;
}
.resistor-p-l{
    height: 12vh;
    width: 15%;
    background-color: #E2C8A7;
    border-radius: 15px;
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.resistor-p-c{
    height: 8vh;
    width: 30%;
    background-color: #E2C8A7;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.resistor-p-r{
    height:12vh;
    width: 15%;
    background-color: #E2C8A7;
    border-radius: 15px;
    border-right: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.card-body{
    position: relative;
}
.w-100{
    width: 100%;
}
.band{
    height: 100%;
    width: 1vw;
}
.band-r-1{
    background-color: var(--clr-band1);
}
.band-r-2{
    background-color: var(--clr-band2);
}
.band-r-3{
    background-color: var(--clr-band3);
}
.band-r-4{
    background-color: var(--clr-band4);
}
.band-r-5{
    background-color: var(--clr-band5);
}
.band-r-6{
    background-color: var(--clr-band6);
}

@media(max-width: 768px) {
    .resistor-p-l{
        height: 15vw;
    }
    .resistor-p-c{
        height: 10vw;
    }
    .resistor-p-r{
        height: 15vw;
    }
    .band{
        width: 2vw;
    }
}