.resistor-wrapper{
    width : 100% !important;
    height: 100% !important;
}
.resistor-w-l, .resistor-w-r{
    display: flex;
    height: 2.5vh;
    width: 5%;
    background-color: gray;
    border: 1px solid black;
}
.resistor-p-l{
    height: 12vh;
    width: 15%;
    background-color: #E2C8A7;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-left: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.resistor-p-c{
    height: 8vh;
    width: 30%;
    background-color: #E2C8A7;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.resistor-p-r{
    height:12vh;
    width: 15%;
    background-color: #E2C8A7;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-right: 1px black solid;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.card-body{
    position: relative;
}
.co{
    outline: 1px solid green;
}
.band{
    height: 100%;
    width: 1vw;
    background-color: brown;
}

@media(max-width: 768px) {
    .resistor-p-l{
        height: 15vw;
    }
    .resistor-p-c{
        height: 10vw;
    }
    .resistor-p-r{
        height: 15vw;
    }
    .band{
        width: 2vw;
    }
}